 <!-- {{mdata() | json}} -->

<div class="match-group">
    @for (group of groupedMatches(); track group[0]) {

        <h2>{{ group[0] }}</h2>

        @for (match of group[1]; track match.fixture.id) {
            <button
                class="match-button"
                [routerLink]="['/league', leagueId, seasonId, 'matches', match.fixture.id]">
                {{ match.teams.home.name }}
                {{ match.score.fulltime.home }} -
                {{ match.score.fulltime.away }}
                {{ match.teams.away.name }}
            </button>
        }

        <hr>
    }
</div>