<!-- comment {{ matchId }} -->
<!-- loop that iterates over the data and displays match information -->
<div class="main_score">
  @for (info of minfo_data(); track info.fixture.id) {
    <div class="team home">
      <img class="logo" [src]="info.teams.home.logo" />
      <span>{{ info.teams.home.name }}</span>
    </div>

    <div class="score">
      <span class="date">{{ info.fixture.date | date: 'dd.MM.yyyy. HH:mm' }}</span>
      <span class="goals">{{ info.goals.home }} - {{ info.goals.away }}</span>
    </div>

    <div class="team away">
      <img class="logo" [src]="info.teams.away.logo" />
      <span>{{ info.teams.away.name }}</span>
    </div>
  }
</div>

<nav class="league-nav">
  <button (click)="activeTab.set('overview')" [class.active]="activeTab() === 'overview'">
    Overview
  </button>

  <button (click)="activeTab.set('statistics')" [class.active]="activeTab() === 'statistics'">
    Statistics
  </button>

  <button
    (click)="activeTab.set('player_ratings')"
    [class.active]="activeTab() === 'player_ratings'"
  >
    Player Ratings
  </button>

  <button (click)="activeTab.set('match_info')" [class.active]="activeTab() === 'match_info'">
    Match Info
  </button>
</nav>

@if (activeTab() === 'overview') {
  <!-- for loop that iterates over the events and displays them in a list -->
  @if (minfo_data()[0]; as info) {
    <div class="events">
      @for (event of minfo_data()[0].events; track $index) {
        @if ($index === 0) {
          <div class="period-header">First Half</div>
        }

        @if (
          $index > 0 &&
          minfo_data()[0].events[$index - 1].time.elapsed <= 45 &&
          event.time.elapsed > 45
        ) {
          <div class="period-header">Second Half</div>
        }

        <div
          class="event"
          [class.home-event]="event.team.id === minfo_data()[0].teams.home.id"
          [class.away-event]="event.team.id === minfo_data()[0].teams.away.id"
        >
          <span>{{ event.time.elapsed }}'</span>

          @if (event.type === 'subst') {
            <span> IN {{ event.assist.name }} 🔄 </span>
            <span>{{ event.player.name }} OUT</span>
          } @else if (event.type === 'Goal') {
            <span> ⚽ {{ event.player.name }}</span>

            @if (event.assist?.name) {
              <span>(Assist: {{ event.assist.name }})</span>
            }
          } @else if (event.type === 'Card') {
            @if (event.detail === 'Yellow Card') {
              <span> 🟨 {{ event.player.name }}</span>
            } @else if (event.detail === 'Red Card') {
              <span> 🟥 {{ event.player.name }}</span>
            }
          } @else {
            <span>{{ event.player.name }} - {{ event.detail }}</span>
          }
        </div>
      }
    </div>
  }

  <!-- loop that iterates over the statistics and displays them -->
  <div class="stat-row">
    @for (stat of displayedStats(); track $index) {
      <div class="label">{{ stat.home?.type }}</div>

      <span class="value left">{{ stat.home?.value }}</span>
      <div class="bar">
        <div
          class="fill home"
          [style.width.%]="getPercent(stat.home?.value, stat.away?.value)"
        ></div>

        <div class="center-line"></div>

        <div
          class="fill away"
          [style.width.%]="getPercent(stat.away?.value, stat.home?.value)"
        ></div>
      </div>

      <span class="value right">{{ stat.away?.value }}</span>
    }
  </div>

  <!-- loop that iterates over the lineups and displays them on the pitch -->
  <div class="lineups">
    <div class="pitch">
      <div class="penalty-box top-box"></div>
      <div class="penalty-box bottom-box"></div>

      <div class="goal-box top-goal"></div>
      <div class="goal-box bottom-goal"></div>

      <!-- Home -->
      @for (player of homePlayers(); track player.id) {
        <div class="player" [style.left.%]="player.x" [style.top.%]="player.y">
          <div class="jersey">
            <app-player [color]="'#' + player.kit.primary"> </app-player>
            <div class="player-number" [style.color]="'#' + player.kit.number">
              {{ player.number }}
            </div>
          </div>
          <div class="player-name">
            {{ player.name }}
          </div>
        </div>
      }

      <!-- Away -->
      @for (player of awayPlayers(); track player.id) {
        <div class="player" [style.left.%]="player.x" [style.top.%]="player.y">
          <div class="jersey">
            <app-player [color]="'#' + player.kit.primary"> </app-player>
            <div class="player-number" [style.color]="'#' + player.kit.number">
              {{ player.number }}
            </div>
          </div>
          <div class="player-name">
            {{ player.name }}
          </div>
        </div>
      }
    </div>
  </div>

  <!-- loop that iterates over the substitutions and displays them in two columns -->
  <div class="substitutions">
    @for (sub of minfo_data(); track sub.fixture.id) {
      <div class="sub-column">
        @for (bench of sub.lineups[0].substitutes; track bench.player.id) {
          <p>{{ bench.player.name }}</p>
        }
      </div>

      <div class="sub-column">
        @for (bench of sub.lineups[1].substitutes; track bench.player.id) {
          <p>{{ bench.player.name }}</p>
        }
      </div>
    }
  </div>
}

@if (activeTab() === 'statistics') {
  <h1>Statistics</h1>

  <!-- loop that iterates over the statistics and displays them -->
  <div class="stat-row">
    @for (stat of displayedAllStats(); track stat.home?.type) {
      <div class="label">{{ stat.home?.type }}</div>

      <span class="value left">{{ stat.home?.value }}</span>
      <div class="bar">
        <div
          class="fill home"
          [style.width.%]="getPercent(stat.home?.value, stat.away?.value)"
        ></div>

        <div class="center-line"></div>

        <div
          class="fill away"
          [style.width.%]="getPercent(stat.away?.value, stat.home?.value)"
        ></div>
      </div>

      <span class="value right">{{ stat.away?.value }}</span>
    }
  </div>
}

@if (activeTab() === 'player_ratings') {
  <h1>Player Ratings</h1>

  <!-- loop that iterates over the lineups and displays them on the pitch -->
  <div class="lineups">
    <div class="pitch">
      <div class="penalty-box top-box"></div>
      <div class="penalty-box bottom-box"></div>

      <div class="goal-box top-goal"></div>
      <div class="goal-box bottom-goal"></div>

      <!-- Home -->
      @for (player of homePlayers(); track player.id) {
        <div class="player" [style.left.%]="player.x" [style.top.%]="player.y">
          <div class="jersey">
            <app-player [color]="'#' + player.kit.primary"> </app-player>
            <div class="player-number" [style.color]="'#' + player.kit.number">
              {{ player.number }}
            </div>
          </div>
          <div class="player-name">
            {{ player.name }}
            {{ player.rating }}
          </div>
        </div>
      }

      <!-- Away -->
      @for (player of awayPlayers(); track player.id) {
        <div class="player" [style.left.%]="player.x" [style.top.%]="player.y">
          <div class="jersey">
            <app-player [color]="'#' + player.kit.primary"> </app-player>
            <div class="player-number" [style.color]="'#' + player.kit.number">
              {{ player.number }}
            </div>
          </div>
          <div class="player-name">
            {{ player.name }}
            {{ player.rating }}
          </div>
        </div>
      }
    </div>
  </div>

  @for (prating of minfo_data()[0].players[0].players; track prating.player.id) {
    <p>{{ prating.player.name }} - Rating: {{ prating.statistics[0].games.rating }}</p>
  }
}

@if (activeTab() === 'match_info') {
  <h1>Match Info</h1>

  @for (info of minfo_data(); track info.fixture.id) {
    <p>
      Match: {{ info.teams.home.name }} vs {{ info.teams.away.name }}, League round:
      {{ info.league.round }},
    </p>
    <p>
      Status: {{ info.fixture.status.long }}, Score: {{ info.goals.home }} - {{ info.goals.away }}
    </p>
    <p>Referee: {{ info.fixture.referee }}</p>
    <p>Venue: {{ info.fixture.venue.name }}, City: {{ info.fixture.venue.city }}</p>
    <p>Date: {{ info.fixture.date | date: 'dd.MM.yyyy. HH:mm' }}</p>
    <img class="logo" [src]="info.league.logo" />
    <img class="logo" [src]="info.league.flag" />
    <p>League: {{ info.league.name }}, Country: {{ info.league.country }}</p>

    <p>_________</p>

    <div>
      <p>{{ info.teams.home.name }}:</p>
      <p>Team coach: {{ info.lineups[0].coach.name }}</p>
      <div class="team-color">
        <span>Team color:</span>
        <div
          class="box"
          [style.backgroundColor]="'#' + info.lineups[0].team.colors.player.primary"
        ></div>
      </div>
      <p>Team formation: {{ info.lineups[0].formation }}</p>

      <p>
        Starting XI:
        @for (player of info.lineups[0].startXI; track player.player.id) {
          {{ player.player.name }},
        }
      </p>

      <p>
        Substitutes:
        @for (player of info.lineups[0].substitutes; track player.id) {
          {{ player.player.name }},
        }
      </p>
    </div>

    <p>_________</p>

    <div>
      <p>{{ info.teams.away.name }}:</p>
      <p>Team coach: {{ info.lineups[1].coach.name }}</p>
      <div class="team-color">
        <span>Team color:</span>
        <div
          class="box"
          [style.backgroundColor]="'#' + info.lineups[1].team.colors.player.primary"
        ></div>
      </div>
      <p>Team formation: {{ info.lineups[1].formation }}</p>

      <p>
        >Starting XI:
        @for (player of info.lineups[1].startXI; track player.player.id) {
          {{ player.player.name }},
        }
      </p>

      <p>
        Substitutes:
        @for (player of info.lineups[1].substitutes; track player.id) {
          {{ player.player.name }},
        }
      </p>
    </div>
  }
}
