.main_score {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
}

.team {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home {
    justify-content: flex-end;
}

.away {
    justify-content: flex-start;
}

.logo {
    width: 40px;
    height: 40px;
}

.score {
    padding: 0 30px;
}