<h1>Select Season</h1>

<div class="buttons-formation">
  <button [routerLink]="['/leagues', '2024']" , class="player-bar">
    <span>Season 24/25</span>
    <app-player [color]="playerColor"></app-player>
    <app-player [color]="playerColor"></app-player>
    <app-player [color]="playerColor"></app-player>
  </button>

  <button [routerLink]="['/leagues', '2023']" , class="player-bar">
    <span>Season 23/24</span>
    <app-player [color]="playerColor"></app-player>
    <app-player [color]="playerColor"></app-player>
    <app-player [color]="playerColor"></app-player>
  </button>

  <button [routerLink]="['/leagues', '2022']" , class="player-bar player-bar2">
    <span>Season 22/23</span>
    <app-player [color]="playerColor"></app-player>
    <app-player [color]="playerColor"></app-player>
    <app-player [color]="playerColor"></app-player>
    <app-player [color]="playerColor"></app-player>
  </button>

  <button class="player-bar player-bargk" (click)="scrollToInfo()">
    <span>Recent Matches</span>
    <app-player [color]="playerColor"></app-player>
  </button>
</div>

<div id="info-section">
  <div class="subs-formation">
    <button
      class="subs-bar"
      [class.selected]="selectedSeason() === 1"
      (click)="selectedSeason.set(1)"
    >
      <span>Season 24/25</span>
      <app-player [color]="playerColor"></app-player>
      <app-player [color]="playerColor"></app-player>
    </button>

    <button
      class="subs-bar"
      [class.selected]="selectedSeason() === 2"
      (click)="selectedSeason.set(2)"
    >
      <span>Season 23/24</span>
      <app-player [color]="playerColor"></app-player>
      <app-player [color]="playerColor"></app-player>
    </button>

    <button
      class="subs-bar"
      [class.selected]="selectedSeason() === 3"
      (click)="selectedSeason.set(3)"
    >
      <span>Season 22/23</span>
      <app-player [color]="playerColor"></app-player>
      <app-player [color]="playerColor"></app-player>
    </button>
  </div>


  @if ((selectedSeasonData() | keyvalue).length > 0) {
    <div class="matches">
      @for (league of selectedSeasonData() | keyvalue; track league.key) {
        <h2>{{ getLeagueName(league.key) }}</h2>

        @for (match of league.value; track $index) {
          <div class="match">
            <button class="match-button"
                [routerLink]="['/league', league.key, match.response[0].league.season, 'matches', match.response[0].fixture.id]">
              {{ match.response[0].teams.home.name }}
              {{ match.response[0].goals.home }} -
              {{ match.response[0].goals.away }}
              {{ match.response[0].teams.away.name }}
            </button>
          </div>
        }
      }
    </div>
  } @else {
    <h2>No saved matches</h2>
  }
</div>

<img class="background-logo" src="pitch.svg" alt="Ball-background" />
